/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
}

img{
    max-width: 100%;
}

a{
    color: inherit;
    text-decoration: none;
}



/* COMMON */

.container{
    margin: 0 auto;
    width: 95%;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}


/* TIPOGRAFIa */

.bg-white{
    background-color: white;
}

.bg-purple{
    background-color: #837FC5;
}

.text-white{
    color: white;
}

.text-purple{
    color: #837FC5;
}

.text-center{
    text-align: center;
}

.mb1{
    margin-bottom: 1em;
}

.mb2{
    margin-bottom: 2em;
}


/* HEADER */

header{
    background-color: #0575DB;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    font-size: 1.5rem;
}

@media screen and (min-width: 992px){
    
    /* COMMON */
    .container{
        width: 70%;
        max-width: 1200px;
    }

}



/* MAIN */

main{
    padding-top: 7rem;
}

main section{
    padding: 2.5em 0;
}

.card{
    border-radius: 10px;
    padding: 1rem;
}

.item{
    padding: 1rem;
    border-radius: 30px;
}

    /* debug rules */
.card , .item , section{
    border: 2px solid red;}
    /* debug rules */




/* DEMO PART */

#demo .card{
    background-color: #95B6D1;
    margin-bottom: 1em;
}

#demo .card:last-child{
    margin-bottom: none;
}

@media screen and (min-width: 768px) {
    
    #demo .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #demo .container .card{
        width: calc(100% / 3 - 1rem);
        margin-bottom: 0;
    }

    #demo .container .card:first-child,
    #demo .container .card:nth-child(2){
        margin-bottom: 1em;
    }
    
    #demo .container .card:first-child{
        width: calc( (100% / 3) * 2 - (1rem / 2));
    }

}

/* / DEMO PART */



/* STRATEGIC PLAN */

@media screen and (min-width: 992px) {

    #strat-plan .wrap{
        display: flex;
        justify-content: space-between;
    }

    #strat-plan .wrap{
        padding: 0 2em;
    }

    #strat-plan .wrap .col{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    #strat-plan .wrap .card.mb1{
        margin-bottom: 0;
    }


    #strat-plan .wrap .col:last-child{
        justify-content: flex-end;
    }

}
/* / STRATEGIC PLAN */


/* TESTIMONIALS */
@media screen and (min-width: 768px){

    /* imgs negli item da sopra si spostano a sinistra */

}
/* / TESTIMONIALS */



/* BENEFITS PART */
@media screen and (min-width: 768px) {
    
    #benefits .wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #benefits .wrap .card{
        width: 49%;
    }

    #benefits .wrap .card:nth-child(5){
        margin-bottom: 0;
    }

}

@media screen and (min-width: 992px) {

    #benefits .wrap .card{
        width: calc(98% / 3);
    }

    #benefits .wrap .card:nth-child(4){
        margin-bottom: 0;
    }

}
/* / BENEFITS PART */



/*  ABOUT US */
@media screen and (min-width: 768px) {
    
    #about-us .container{
        display: flex;
        justify-content: space-between;
    }

    #about-us .container .card:first-child{
        margin-bottom: 0;
        width: 59%;
    }

    #about-us .container .card:last-child{
        width: 39%;
        display: flex;
        align-items: flex-start;
    }

}
/*  / ABOUT US */



/* GET STARTED */
@media screen and (min-width: 768px) {
    
    #start .container{
        width: 80%;
    }

}

@media screen and (min-width: 992px) {

    #start .container{
        width: 45%;  
    }

}
/* / GET STARTED */



/* FOOTER */
footer{
    background-color: #373737;
    padding: 1em 0;
}

@media screen and (min-width: 768px) {
    
    footer .container{
        width: 70%;
    }

}

@media screen and (min-width: 992px) {

    footer .container{
        width: 37%;  
    }

}
/* / FOOTER */