/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
}

img{
    max-width: 100%;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

h1{
    font-size: 2rem;
}



/* COMMON */

.container{
    margin: 0 auto;
    width: 95%;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.btn{
    padding: .8rem 2.7rem;
    border-radius: 20px;
    border: 0;
}

.block{
    display: block;
}


/* TIPOGRAFIa */

.bg-white{
    background-color: white;
}

.bg-purple{
    background-color: #837FC5;
}

.bg-blue{
    background-color: #0575DB;
}

.text-blue{
    color: #0575DB;
}

.text-white{
    color: white;
}

.text-purple{
    color: #837FC5;
}

.text-center{
    text-align: center;
}

.text-medium{
    font-size: 1.3rem;
}

.text-big{
    font-size: 2rem;
}

.mb1{
    margin-bottom: 1em;
}

.mb2{
    margin-bottom: 2em;
}



/* HEADER */

header{
    background-color: #0575DB;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

header nav{
    display: none;
}

header nav li{
    margin-right: 1em;
}

header nav li:last-child{
    margin-right: none;
}

header nav li button{
    color: black;
}

header #hamb-menu{
    font-size: 2rem;
}

@media screen and (min-width: 992px){
    
    header #hamb-menu{
        display: none;
    }

    header nav{
        display: block;
    }

    /* COMMON */
    .container{
        width: 70%;
        max-width: 1200px;
    }

}
/* / HEADER */



/* MAIN */

main{
    padding-top: 7rem;
}

main section{
    padding: 2.5em 0;
}

.card{
    border-radius: 10px;
    
    padding: 2em;

}

.item{
    padding: 2em;
    border-radius: 30px;
}




/* DEMO PART */

#demo .card{
    background-color: #a2c7e6;
    margin-bottom: 1em;
}

#demo .card div > i{
    font-size: 5rem;
}


#demo .card:first-child{
    padding-bottom: 0;
}


#demo .card:last-child{
    margin-bottom: none;
}

    /* tablet */
@media screen and (min-width: 768px) {
    
    #demo .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #demo .container .card img{
        max-width: 60%;
    }

    #demo .container .card{
        width: calc(100% / 3 - 1rem);
        margin-bottom: 0;
    }

    #demo .container .card:first-child,
    #demo .container .card:nth-child(2){
        margin-bottom: 1em;
    }
    
    #demo .container .card:first-child{
        width: calc( (100% / 3) * 2 - (1rem / 2));
    }

}

    /* desktop */
@media screen and (min-width: 992px) {

    #demo .wrap{
        display: flex;
        justify-content: space-between;
    }

    #demo .wrap .col{
        width: 46%;
    }

    #demo .wrap .col:last-child{
        display: flex;
        align-items: flex-end;
    }

    #demo .card:first-child{
        padding-bottom: 0;
    }

    #demo .card:first-child img{
        max-width: 95%;
    }

}
/* / DEMO PART */



/* STRATEGIC PLAN */
#strat-plan img{
    border-radius: 40px;
}

#strat-plan span.down-arrow{
    display: inline-block;
    font-size: 2rem;
    background-color: #837FC5;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 50%;
    text-align: center;
}

@media screen and (min-width: 992px) {

    #strat-plan .wrap{
        display: flex;
        justify-content: space-between;
    }

    #strat-plan .wrap{
        padding: 0 2em;
    }

    #strat-plan .wrap .col{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    #strat-plan .wrap .card{
        padding: 0;
    }

    #strat-plan .wrap .col:first-child{
        margin-bottom: 0;
        padding-bottom: 0;
        width: 53%;
    }


    #strat-plan .wrap .col:last-child{
        justify-content: flex-end;
        width: 43%;
        padding-bottom: 1em;
    }

}
/* / STRATEGIC PLAN */



/* TESTIMONIALS */
@media screen and (min-width: 768px){

    /* imgs negli item da sopra si spostano a sinistra */

}
/* / TESTIMONIALS */



/* BENEFITS PART */
@media screen and (min-width: 768px) {
    
    #benefits .wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #benefits .wrap .card{
        width: 49%;
    }

    #benefits .wrap .card:nth-child(5){
        margin-bottom: 0;
    }

}

@media screen and (min-width: 992px) {

    #benefits .wrap .card{
        width: calc(98% / 3);
    }

    #benefits .wrap .card:nth-child(4){
        margin-bottom: 0;
    }

}
/* / BENEFITS PART */



/*  ABOUT US */
@media screen and (min-width: 768px) {
    
    #about-us .container{
        display: flex;
        justify-content: space-between;
    }

    #about-us .container .card:first-child{
        margin-bottom: 0;
        width: 59%;
    }

    #about-us .container .card:last-child{
        width: 39%;
        display: flex;
        align-items: flex-start;
    }

}
/*  / ABOUT US */



/* GET STARTED */
@media screen and (min-width: 768px) {
    
    #start .container{
        width: 80%;
    }

}

@media screen and (min-width: 992px) {

    #start .container{
        width: 45%;  
    }

}
/* / GET STARTED */



/* FOOTER */
footer{
    background-color: #373737;
    padding: 1em 0;
}

@media screen and (min-width: 768px) {
    
    footer .container{
        width: 70%;
    }

}

@media screen and (min-width: 992px) {

    footer .container{
        width: 37%;  
    }

}
/* / FOOTER */